select-member{
  .header-fixed{
    position: fixed;
    width: 100%;
    z-index: 9;
    background: white;
    box-shadow: 0px 0px 1px 1px #c2c2c2;
    top: 56px;
  }
  .member-icon{
    font-size: 40px;
    color: #488aff;
  }
  .footer-fixed{
    position: fixed;
    border-bottom: 0px;
  }
}
