<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>首页</ion-title>
  </ion-navbar>


</ion-header>

<ion-content>
  <div class="align-center network-bar" *ngIf="onDisconnect">网络异常</div>

  <div class="slide-wrap">
    <ion-card>
      <ion-slides pager>
        <ion-slide (click)="call119()">
          <img src="assets/imgs/login-page.jpg" />
        </ion-slide>
        <ion-slide (click)="call119()">
          <img src="assets/imgs/material-design-background.jpg" />
        </ion-slide>
        <ion-slide (click)="call119()">
          <img src="assets/imgs/logo.png" />
        </ion-slide>
        <ion-slide (click)="call119()">
          <img src="assets/imgs/timg.jpg" />
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>



  <ion-grid class="home-grid">
    <ion-row>
      <ion-col col-6 *ngFor="let p of pages" (click)="openPage(p)">
        <ion-card>
          <ion-card-content class="home-icon-wrap">
            <ion-icon name={{p.icon}} class="home-icon"></ion-icon>
          </ion-card-content>
          <div class="home-icon-text">
            {{p.title}}
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
