<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>积分兑换</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
      <ion-item *ngIf="member.id">
        <ion-avatar item-start>
          <img src="assets/imgs/logo.png">
        </ion-avatar>
        <h2>会员名称：{{member.name}}</h2>
        <h3>级别：{{member.level_title}}</h3>
        <p>积分：{{member.score}}</p>
        <p>消费：{{member.total_consume}}元</p>
        <p>电话：{{member.mobile}}</p>
      </ion-item>

      <ion-item *ngIf="pointGoods.id">
        <ion-avatar item-start>
          <img [src]="pointGoods.thumb" onerror="this.src='assets/imgs/logo.png'" />
        </ion-avatar>
        <h2>商品名称:{{pointGoods.name}}</h2>
        <h3>需要积分：{{pointGoods.score}}</h3>
        <h3>价格：{{pointGoods.price}}元</h3>
      </ion-item>

      <div padding>
        <button ion-button full (click)="searchMember()">查找会员</button>
        <button ion-button full (click)="getPointGoods()">选择一个积分商品</button>
      </div>

    </ion-list>
    <div padding>
      <button ion-button full (click)="confirmExchange()">兑换</button>
      <button ion-button full (click)="cancelExchange()">取消</button>
    </div>

</ion-content>
